openapi: 3.1.0
info:
  title: Oracle Health Millennium Platform FHIR R4 API
  version: 4.0.1
  summary: HL7 FHIR R4 API for Oracle Health Millennium Platform (formerly Cerner Millennium).
  description: 'REST surface of the Oracle Health Millennium Platform FHIR R4 API, derived operation-for-operation from the
    CapabilityStatement Oracle Health serves at `/metadata` on the secure sandbox tenant, and from the SMART on FHIR discovery
    document served at `/.well-known/smart-configuration`. Every path, interaction, search parameter and OAuth scope in this
    document is present in one of those two provider-served resources; nothing was authored by hand. Millennium is multi-tenant:
    the tenant id is a required path segment of the service root, so the server variable `{tenant}` must be bound before any
    call. The open endpoint (`fhir-open.cerner.com`) is read-only and unauthenticated; the secure endpoints require SMART
    on FHIR OAuth 2.0.'
  contact:
    name: Oracle Health Developer Program
    url: https://www.oracle.com/health/developer/
  x-derived-from:
    capability_statement: https://fhir-ehr-code.cerner.com/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d/metadata
    smart_configuration: https://fhir-ehr-code.cerner.com/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d/.well-known/smart-configuration
    fetched: '2026-08-14'
  x-fhir-instantiates:
  - http://hl7.org/fhir/us/core/CapabilityStatement/us-core-server
  - http://hl7.org/fhir/uv/bulkdata/CapabilityStatement/bulk-data
  x-fhir-patch-formats:
  - application/json-patch+json
externalDocs:
  description: Oracle Health Millennium Platform FHIR R4 API documentation
  url: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfrap/index.html
servers:
- url: https://fhir-ehr-code.cerner.com/r4/{tenant}
  description: Secure endpoint for provider / non-patient personas (also the secure sandbox).
  variables:
    tenant:
      default: ec2458f2-1e24-41c8-b71b-0e701af7583d
      description: Millennium tenant id. The sandbox default is the Oracle Health public sandbox tenant.
- url: https://fhir-myrecord.cerner.com/r4/{tenant}
  description: Secure endpoint for patient-access personas.
  variables:
    tenant:
      default: ec2458f2-1e24-41c8-b71b-0e701af7583d
      description: Millennium tenant id.
- url: https://fhir-open.cerner.com/r4/{tenant}
  description: Open, unauthenticated, read-only endpoint.
  variables:
    tenant:
      default: ec2458f2-1e24-41c8-b71b-0e701af7583d
      description: Millennium tenant id.
security:
- smartOnFhir: []
tags:
- name: Account
  description: FHIR R4 Account resource as implemented by Oracle Health Millennium Platform.
- name: AllergyIntolerance
  description: FHIR R4 AllergyIntolerance resource as implemented by Oracle Health Millennium Platform.
- name: Appointment
  description: FHIR R4 Appointment resource as implemented by Oracle Health Millennium Platform.
- name: Basic
  description: FHIR R4 Basic resource as implemented by Oracle Health Millennium Platform.
- name: Binary
  description: FHIR R4 Binary resource as implemented by Oracle Health Millennium Platform.
- name: CapabilityStatement
  description: FHIR R4 CapabilityStatement resource as implemented by Oracle Health Millennium Platform.
- name: CarePlan
  description: FHIR R4 CarePlan resource as implemented by Oracle Health Millennium Platform.
- name: CareTeam
  description: FHIR R4 CareTeam resource as implemented by Oracle Health Millennium Platform.
- name: ChargeItem
  description: FHIR R4 ChargeItem resource as implemented by Oracle Health Millennium Platform.
- name: Communication
  description: FHIR R4 Communication resource as implemented by Oracle Health Millennium Platform.
- name: Condition
  description: FHIR R4 Condition resource as implemented by Oracle Health Millennium Platform.
- name: Consent
  description: FHIR R4 Consent resource as implemented by Oracle Health Millennium Platform.
- name: Coverage
  description: FHIR R4 Coverage resource as implemented by Oracle Health Millennium Platform.
- name: Device
  description: FHIR R4 Device resource as implemented by Oracle Health Millennium Platform.
- name: DiagnosticReport
  description: FHIR R4 DiagnosticReport resource as implemented by Oracle Health Millennium Platform.
- name: DocumentReference
  description: FHIR R4 DocumentReference resource as implemented by Oracle Health Millennium Platform.
- name: Encounter
  description: FHIR R4 Encounter resource as implemented by Oracle Health Millennium Platform.
- name: FamilyMemberHistory
  description: FHIR R4 FamilyMemberHistory resource as implemented by Oracle Health Millennium Platform.
- name: Goal
  description: FHIR R4 Goal resource as implemented by Oracle Health Millennium Platform.
- name: Group
  description: FHIR R4 Group resource as implemented by Oracle Health Millennium Platform.
- name: Immunization
  description: FHIR R4 Immunization resource as implemented by Oracle Health Millennium Platform.
- name: InsurancePlan
  description: FHIR R4 InsurancePlan resource as implemented by Oracle Health Millennium Platform.
- name: Location
  description: FHIR R4 Location resource as implemented by Oracle Health Millennium Platform.
- name: Media
  description: FHIR R4 Media resource as implemented by Oracle Health Millennium Platform.
- name: MedicationAdministration
  description: FHIR R4 MedicationAdministration resource as implemented by Oracle Health Millennium Platform.
- name: MedicationDispense
  description: FHIR R4 MedicationDispense resource as implemented by Oracle Health Millennium Platform.
- name: MedicationRequest
  description: FHIR R4 MedicationRequest resource as implemented by Oracle Health Millennium Platform.
- name: NutritionOrder
  description: FHIR R4 NutritionOrder resource as implemented by Oracle Health Millennium Platform.
- name: Observation
  description: FHIR R4 Observation resource as implemented by Oracle Health Millennium Platform.
- name: OperationDefinition
  description: FHIR R4 OperationDefinition resource as implemented by Oracle Health Millennium Platform.
- name: Organization
  description: FHIR R4 Organization resource as implemented by Oracle Health Millennium Platform.
- name: Patient
  description: FHIR R4 Patient resource as implemented by Oracle Health Millennium Platform.
- name: Person
  description: FHIR R4 Person resource as implemented by Oracle Health Millennium Platform.
- name: Practitioner
  description: FHIR R4 Practitioner resource as implemented by Oracle Health Millennium Platform.
- name: Procedure
  description: FHIR R4 Procedure resource as implemented by Oracle Health Millennium Platform.
- name: Provenance
  description: FHIR R4 Provenance resource as implemented by Oracle Health Millennium Platform.
- name: Questionnaire
  description: FHIR R4 Questionnaire resource as implemented by Oracle Health Millennium Platform.
- name: QuestionnaireResponse
  description: FHIR R4 QuestionnaireResponse resource as implemented by Oracle Health Millennium Platform.
- name: RelatedPerson
  description: FHIR R4 RelatedPerson resource as implemented by Oracle Health Millennium Platform.
- name: Schedule
  description: FHIR R4 Schedule resource as implemented by Oracle Health Millennium Platform.
- name: ServiceRequest
  description: FHIR R4 ServiceRequest resource as implemented by Oracle Health Millennium Platform.
- name: Slot
  description: FHIR R4 Slot resource as implemented by Oracle Health Millennium Platform.
- name: Specimen
  description: FHIR R4 Specimen resource as implemented by Oracle Health Millennium Platform.
- name: StructureDefinition
  description: FHIR R4 StructureDefinition resource as implemented by Oracle Health Millennium Platform.
- name: System
  description: 'System-level FHIR interactions: conformance metadata and batch.'
paths:
  /Account:
    get:
      operationId: searchAccount
      summary: Search Account
      description: FHIR R4 `search-type` interaction for Account. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Account
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Account ids. It is a required field if the -guarantor or patient
          fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: The entity that caused the expenses. It is a required field if the _id or -guarantor fields are not given.
          Must be set with identifier.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Account-patient
        x-fhir-search-type: reference
      - name: -encounter
        in: query
        required: false
        schema:
          type: string
        description: The encounter associated with the resource.
        x-fhir-search-type: reference
      - name: -guarantor
        in: query
        required: false
        schema:
          type: string
        description: The entity that responsible for payment. It is a required field if the _id or patient fields are not
          given.
        x-fhir-search-type: reference
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: The identifier for the account. Required in every search request.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Account-type
        x-fhir-search-type: token
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: Statement Account number. Must be set with patients
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Account-identifier
        x-fhir-search-type: token
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page. Not honored when '_id' is set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      responses:
        '200':
          description: A FHIR searchset Bundle of Account resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Account/{id}:
    get:
      operationId: readAccount
      summary: Read Account
      description: FHIR R4 `read` interaction for Account.
      tags:
      - Account
      responses:
        '200':
          description: The requested Account resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Account resource.
      schema:
        type: string
  /AllergyIntolerance:
    get:
      operationId: searchAllergyIntolerance
      summary: Search AllergyIntolerance
      description: FHIR R4 `search-type` interaction for AllergyIntolerance. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - AllergyIntolerance
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of AllergyIntolerance ids. It is a required field if the patient field
          is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Who the sensitivity is for. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-allergyintolerance-patient
        x-fhir-search-type: reference
      - name: clinical-status
        in: query
        required: false
        schema:
          type: string
        description: Certainty of the allergy or intolerance.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-allergyintolerance-clinical-status
        x-fhir-search-type: token
      - name: _lastUpdated
        in: query
        required: false
        schema:
          type: string
        description: A date or date range used to search for AllergyIntolerance records which were last updated in that period.
          The '_lastUpdated' parameter may be provided once without a prefix or time component to imply a date range or once
          without a prefix and with a time component to search for AllergyIntolerance records at a specific time. Alternately
          it may be provided twice with 'le', 'lt', 'ge', or 'gt' prefixes to search for AllergyIntolerance records within
          a specific range. The date and prefix pairs must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-lastUpdated
        x-fhir-search-type: date
      responses:
        '200':
          description: A FHIR searchset Bundle of AllergyIntolerance resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id001
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance
      x-fhir-update-create: false
    post:
      operationId: createAllergyIntolerance
      summary: Create AllergyIntolerance
      description: FHIR R4 `create` interaction for AllergyIntolerance.
      tags:
      - AllergyIntolerance
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: AllergyIntolerance created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id001
      x-fhir-update-create: false
  /AllergyIntolerance/{id}:
    get:
      operationId: readAllergyIntolerance
      summary: Read AllergyIntolerance
      description: FHIR R4 `read` interaction for AllergyIntolerance.
      tags:
      - AllergyIntolerance
      responses:
        '200':
          description: The requested AllergyIntolerance resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id001
      x-fhir-update-create: false
    put:
      operationId: updateAllergyIntolerance
      summary: Update AllergyIntolerance
      description: FHIR R4 `update` interaction for AllergyIntolerance. Supply `If-Match` with the current version to avoid
        a 409 Conflict on a stale write.
      tags:
      - AllergyIntolerance
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date update with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: AllergyIntolerance updated.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id001
      x-fhir-update-create: false
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the AllergyIntolerance resource.
      schema:
        type: string
  /Appointment:
    get:
      operationId: searchAppointment
      summary: Search Appointment
      description: FHIR R4 `search-type` interaction for Appointment. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Appointment
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Appointment ids. Either the '_id' parameter or one of the 'patient',
          'practitioner' or 'location' parameters must be set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page. Not honored when '_id' is set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: A date or date range from which to find appointments. This or the '-date-or-req-period' parameter must
          be set when using patient, practitioner or location. The 'date' parameter may be provided once without a prefix
          or time component to imply a date range or once without a prefix and with a time component to search for appointments
          at a specific time. Alternately it may be provided twice with 'le' and 'gt' prefixes to search for appointments
          within a specific range. The date prefix pair must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Appointment-date
        x-fhir-search-type: date
      - name: -date-or-req-period
        in: query
        required: false
        schema:
          type: string
        description: A start date or requested period from which to find appointments. This or the 'date' parameter must be
          set when using patient, practitioner or location. The '-date-or-req-period' parameter may be provided once without
          a prefix or time component to imply a date range or once without a prefix and with a time component to search for
          appointments at a specific time. Alternately it may be provided twice with 'le' and 'gt' prefixes to search for
          appointments within a specific range. The date prefix pair must create a closed range.
        x-fhir-search-type: date
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: One of the individuals of the appointment is this patient. Either the '_id' parameter or one of the 'patient',
          'practitioner' or 'location' parameters must be set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Appointment-patient
        x-fhir-search-type: reference
      - name: practitioner
        in: query
        required: false
        schema:
          type: string
        description: One of the individuals of the appointment is this practitioner. Either the '_id' parameter or one of
          the 'patient', 'practitioner' or 'location' parameters must be set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Appointment-practitioner
        x-fhir-search-type: reference
      - name: location
        in: query
        required: false
        schema:
          type: string
        description: This location is listed in the participants of the appointment. Either the '_id' parameter or one of
          the 'patient', 'practitioner' or 'location' parameters must be set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Appointment-location
        x-fhir-search-type: reference
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: The overall status of the appointment.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Appointment-status
        x-fhir-search-type: token
      responses:
        '200':
          description: A FHIR searchset Bundle of Appointment resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    post:
      operationId: createAppointment
      summary: Create Appointment
      description: FHIR R4 `create` interaction for Appointment.
      tags:
      - Appointment
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Appointment created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Appointment/{id}:
    get:
      operationId: readAppointment
      summary: Read Appointment
      description: FHIR R4 `read` interaction for Appointment.
      tags:
      - Appointment
      responses:
        '200':
          description: The requested Appointment resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    patch:
      operationId: patchAppointment
      summary: Patch Appointment
      description: FHIR R4 `patch` interaction for Appointment. The server advertises the JSON Patch and FHIRPath patch formats
        in `CapabilityStatement.patchFormat`.
      tags:
      - Appointment
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date patch with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: object
      responses:
        '200':
          description: Appointment patched.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Appointment resource.
      schema:
        type: string
  /Basic:
    post:
      operationId: createBasic
      summary: Create Basic
      description: FHIR R4 `create` interaction for Basic.
      tags:
      - Basic
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Basic created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Binary/{id}:
    get:
      operationId: readBinary
      summary: Read Binary
      description: FHIR R4 `read` interaction for Binary.
      tags:
      - Binary
      responses:
        '200':
          description: The requested Binary resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Binary resource.
      schema:
        type: string
  /Binary/$autogen-ccd-if:
    get:
      operationId: opBinaryAutogenCcdIf
      summary: $autogen-ccd-if on Binary
      description: 'Generate Continuity of Care Document (CCD) OperationDefinition: https://fhir-ehr.cerner.com/r4/OperationDefinition/binary-autogen-ccd-if'
      tags:
      - Binary
      x-fhir-operation-definition: https://fhir-ehr.cerner.com/r4/OperationDefinition/binary-autogen-ccd-if
      responses:
        '200':
          description: Operation result.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /CapabilityStatement/{id}:
    get:
      operationId: readCapabilityStatement
      summary: Read CapabilityStatement
      description: FHIR R4 `read` interaction for CapabilityStatement.
      tags:
      - CapabilityStatement
      responses:
        '200':
          description: The requested CapabilityStatement resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the CapabilityStatement resource.
      schema:
        type: string
  /CarePlan:
    get:
      operationId: searchCarePlan
      summary: Search CarePlan
      description: FHIR R4 `search-type` interaction for CarePlan. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - CarePlan
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of CarePlan ids.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: A date range with which to find CarePlans. If used, the ‘date’ parameter must be provided twice. Once
          with a 'ge' prefix representing the earliest date, and once with a 'le’ prefix representing the latest date. The
          date prefix pair must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-careplan-date
        x-fhir-search-type: date
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Who the careplan is for. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-careplan-patient
        x-fhir-search-type: reference
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: The category of the careplan. Category assess-plan is supported as of now.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-careplan-category
        x-fhir-search-type: token
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return. Not honored when '_id' is set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      responses:
        '200':
          description: A FHIR searchset Bundle of CarePlan resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id002
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan
  /CarePlan/{id}:
    get:
      operationId: readCarePlan
      summary: Read CarePlan
      description: FHIR R4 `read` interaction for CarePlan.
      tags:
      - CarePlan
      responses:
        '200':
          description: The requested CarePlan resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id002
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the CarePlan resource.
      schema:
        type: string
  /CareTeam:
    get:
      operationId: searchCareTeam
      summary: Search CareTeam
      description: FHIR R4 `search-type` interaction for CareTeam. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - CareTeam
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: CareTeam id supports only the single id. It is a required field if the patient or encounter fields are
          not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: The category of the careteam. Category Longitudinal (patient level) or Encounter is supported as of now.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/CareTeam-category
        x-fhir-search-type: token
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: The Encounter level CareTeam are displayed.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/clinical-encounter
        x-fhir-search-type: reference
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Who the careteam is for. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-careteam-patient
        x-fhir-search-type: reference
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: The status of the CareTeam.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-careteam-status
        x-fhir-search-type: token
      responses:
        '200':
          description: A FHIR searchset Bundle of CareTeam resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id003
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam
  /CareTeam/{id}:
    get:
      operationId: readCareTeam
      summary: Read CareTeam
      description: FHIR R4 `read` interaction for CareTeam.
      tags:
      - CareTeam
      responses:
        '200':
          description: The requested CareTeam resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id003
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the CareTeam resource.
      schema:
        type: string
  /ChargeItem:
    get:
      operationId: searchChargeItem
      summary: Search ChargeItem
      description: FHIR R4 `search-type` interaction for ChargeItem. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - ChargeItem
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: ChargeItem id supports only the single id. It is a required field if the account or context fields are
          not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: context
        in: query
        required: false
        schema:
          type: string
        description: Encounter associated with the ChargeItem. If provided, the '-status' parameter must also be provided.
          It is a required field if the _id or account fields are not given.
        x-fhir-search-type: reference
      - name: account
        in: query
        required: false
        schema:
          type: string
        description: Account associated with the ChargeItem. If provided, the '-status' parameter must also be provided. It
          is a required field if the _id or context fields are not given.
        x-fhir-search-type: reference
      - name: -status
        in: query
        required: false
        schema:
          type: string
        description: The status of the ChargeItem. Must be set to 'billable'. Must be provided with the context and account
          parameter.
        x-fhir-search-type: token
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page. Not honored when '_id' is set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      responses:
        '200':
          description: A FHIR searchset Bundle of ChargeItem resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /ChargeItem/{id}:
    get:
      operationId: readChargeItem
      summary: Read ChargeItem
      description: FHIR R4 `read` interaction for ChargeItem.
      tags:
      - ChargeItem
      responses:
        '200':
          description: The requested ChargeItem resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the ChargeItem resource.
      schema:
        type: string
  /ChargeItem/$credit:
    get:
      operationId: opChargeItemCredit
      summary: $credit on ChargeItem
      description: 'Creates an offsetting ChargeItem for an existing debit ChargeItem. OperationDefinition: https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-credit'
      tags:
      - ChargeItem
      x-fhir-operation-definition: https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-credit
      responses:
        '200':
          description: Operation result.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /ChargeItem/$modify:
    get:
      operationId: opChargeItemModify
      summary: $modify on ChargeItem
      description: 'Modifies an existing ChargeItem resulting in a newly created ChargeItem. OperationDefinition: https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-modify'
      tags:
      - ChargeItem
      x-fhir-operation-definition: https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-modify
      responses:
        '200':
          description: Operation result.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /ChargeItem/$create:
    get:
      operationId: opChargeItemCreate
      summary: $create on ChargeItem
      description: 'Creates a charge event which can result in the creation of one or more ChargeItems. OperationDefinition:
        https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-create'
      tags:
      - ChargeItem
      x-fhir-operation-definition: https://fhir-ehr.cerner.com/r4/OperationDefinition/charge-item-create
      responses:
        '200':
          description: Operation result.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Communication:
    get:
      operationId: searchCommunication
      summary: Search Communication
      description: FHIR R4 `search-type` interaction for Communication. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Communication
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Communication ids. It is a required field if the category, -email-status,
          received and recipient fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: The message category. It is a required field if the _id field is not given. Must be set with received,
          recipient and -email-status.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Communication-category
        x-fhir-search-type: token
      - name: received
        in: query
        required: false
        schema:
          type: string
        description: When the message is received. It is a required field if the _id field is not given. Must be set with
          category, recipient and -email-status. If used, the ‘received’ parameter may be provided once or twice. Once with
          a 'ge' prefix representing the earliest received date, and/or once with a 'le’ prefix representing the latest received
          date.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Communication-received
        x-fhir-search-type: date
      - name: recipient
        in: query
        required: false
        schema:
          type: string
        description: The recipient of the message. It is a required field if the _id field is not given. Must be set with
          category, recipient and -email-status.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Communication-recipient
        x-fhir-search-type: reference
      - name: -email-status
        in: query
        required: false
        schema:
          type: string
        description: The email status of the message. It is a required field if the _id field is not given. Must be set with
          category, received and recipient.
        x-fhir-search-type: token
      responses:
        '200':
          description: A FHIR searchset Bundle of Communication resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    post:
      operationId: createCommunication
      summary: Create Communication
      description: FHIR R4 `create` interaction for Communication.
      tags:
      - Communication
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Communication created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Communication/{id}:
    get:
      operationId: readCommunication
      summary: Read Communication
      description: FHIR R4 `read` interaction for Communication.
      tags:
      - Communication
      responses:
        '200':
          description: The requested Communication resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    patch:
      operationId: patchCommunication
      summary: Patch Communication
      description: FHIR R4 `patch` interaction for Communication. The server advertises the JSON Patch and FHIRPath patch
        formats in `CapabilityStatement.patchFormat`.
      tags:
      - Communication
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date patch with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: object
      responses:
        '200':
          description: Communication patched.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Communication resource.
      schema:
        type: string
  /Condition:
    get:
      operationId: searchCondition
      summary: Search Condition
      description: FHIR R4 `search-type` interaction for Condition. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Condition
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Condition ids. It is a required field if the patient or subject fields
          are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Who has the condition. It is a required field if the subject or _id fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-condition-patient
        x-fhir-search-type: reference
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: The encounter of the patient. Only encounter-diagnosis are returned.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Condition-encounter
        x-fhir-search-type: reference
      - name: subject
        in: query
        required: false
        schema:
          type: string
        description: Who has the condition. It is a required field if the patient or _id fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Condition-subject
        x-fhir-search-type: reference
      - name: clinical-status
        in: query
        required: false
        schema:
          type: string
        description: The clinical status of the condition.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-condition-clinical-status
        x-fhir-search-type: token
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: The category of the condition. Categories problem-list-item, encounter-diagnosis and health-concern are
          supported as of now.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-condition-category
        x-fhir-search-type: token
      - name: _lastUpdated
        in: query
        required: false
        schema:
          type: string
        description: A date or date range used to search for conditions which were last updated in that period. The '_lastUpdated'
          parameter may be provided once without a prefix or time component to imply a date range or once without a prefix
          and with a time component to search for Conditions at a specific time. Alternately it may be provided twice with
          'le', 'lt', 'ge', or 'gt' prefixes to search for conditions report within a specific range. The date and prefix
          pairs must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-lastUpdated
        x-fhir-search-type: date
      responses:
        '200':
          description: A FHIR searchset Bundle of Condition resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id004
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns
      x-fhir-update-create: false
    post:
      operationId: createCondition
      summary: Create Condition
      description: FHIR R4 `create` interaction for Condition.
      tags:
      - Condition
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Condition created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id004
      x-fhir-update-create: false
  /Condition/{id}:
    get:
      operationId: readCondition
      summary: Read Condition
      description: FHIR R4 `read` interaction for Condition.
      tags:
      - Condition
      responses:
        '200':
          description: The requested Condition resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id004
      x-fhir-update-create: false
    put:
      operationId: updateCondition
      summary: Update Condition
      description: FHIR R4 `update` interaction for Condition. Supply `If-Match` with the current version to avoid a 409 Conflict
        on a stale write.
      tags:
      - Condition
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date update with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: Condition updated.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id004
      x-fhir-update-create: false
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Condition resource.
      schema:
        type: string
  /Consent:
    get:
      operationId: searchConsent
      summary: Search Consent
      description: FHIR R4 `search-type` interaction for Consent. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Consent
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Consent ids.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Who the consent applies to. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/clinical-patient
        x-fhir-search-type: reference
      - name: actor
        in: query
        required: false
        schema:
          type: string
        description: Resource for the actor (or group, by role). It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Consent-actor
        x-fhir-search-type: reference
      - name: patient.identifier
        in: query
        required: false
        schema:
          type: string
        description: The patient.identifier allows to search by patient aliases. Federated Person Principle, SSN, MRN etc...
          are supported as of now. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Consent-patient.identifier
        x-fhir-search-type: token
      - name: actor.identifier
        in: query
        required: false
        schema:
          type: string
        description: The actor.identifier allows to search by related person aliases. Federated Person Principle is the only
          supported alias as of now. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Consent-actor.identifier
        x-fhir-search-type: token
      responses:
        '200':
          description: A FHIR searchset Bundle of Consent resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Consent/{id}:
    get:
      operationId: readConsent
      summary: Read Consent
      description: FHIR R4 `read` interaction for Consent.
      tags:
      - Consent
      responses:
        '200':
          description: The requested Consent resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Consent resource.
      schema:
        type: string
  /Coverage:
    get:
      operationId: searchCoverage
      summary: Search Coverage
      description: FHIR R4 `search-type` interaction for Coverage. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Coverage
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: Retrieve coverages for a patient.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Coverage-patient
        x-fhir-search-type: reference
      - name: -encounter
        in: query
        required: false
        schema:
          type: string
        description: Retrieve coverages for an encounter.
        x-fhir-search-type: reference
      responses:
        '200':
          description: A FHIR searchset Bundle of Coverage resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id005
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage
    post:
      operationId: createCoverage
      summary: Create Coverage
      description: FHIR R4 `create` interaction for Coverage.
      tags:
      - Coverage
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Coverage created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id005
  /Coverage/{id}:
    get:
      operationId: readCoverage
      summary: Read Coverage
      description: FHIR R4 `read` interaction for Coverage.
      tags:
      - Coverage
      responses:
        '200':
          description: The requested Coverage resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id005
    patch:
      operationId: patchCoverage
      summary: Patch Coverage
      description: FHIR R4 `patch` interaction for Coverage. The server advertises the JSON Patch and FHIRPath patch formats
        in `CapabilityStatement.patchFormat`.
      tags:
      - Coverage
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date patch with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: object
      responses:
        '200':
          description: Coverage patched.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id005
    delete:
      operationId: deleteCoverage
      summary: Delete Coverage
      description: FHIR R4 `delete` interaction for Coverage.
      tags:
      - Coverage
      responses:
        '204':
          description: Coverage deleted.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id005
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Coverage resource.
      schema:
        type: string
  /Device:
    get:
      operationId: searchDevice
      summary: Search Device
      description: FHIR R4 `search-type` interaction for Device. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Device
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Device ids. It is a required field if the patient field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: The patient to whom Device is affixed. It is a required field if the _id field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-device-patient
        x-fhir-search-type: reference
      responses:
        '200':
          description: A FHIR searchset Bundle of Device resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id006
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device
  /Device/{id}:
    get:
      operationId: readDevice
      summary: Read Device
      description: FHIR R4 `read` interaction for Device.
      tags:
      - Device
      responses:
        '200':
          description: The requested Device resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id006
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the Device resource.
      schema:
        type: string
  /DiagnosticReport:
    get:
      operationId: searchDiagnosticReport
      summary: Search DiagnosticReport
      description: FHIR R4 `search-type` interaction for DiagnosticReport. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - DiagnosticReport
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of DiagnosticReport ids. It is a required field if the patient field
          is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-id
        x-fhir-search-type: token
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: Which diagnostic discipline/department created the report.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-diagnosticreport-category
        x-fhir-search-type: token
      - name: code
        in: query
        required: false
        schema:
          type: string
        description: The code for the report.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-diagnosticreport-code
        x-fhir-search-type: token
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: The Encounter when the report was made.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/clinical-encounter
        x-fhir-search-type: reference
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: The subject of the report. It is a required field.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-diagnosticreport-patient
        x-fhir-search-type: reference
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: A date range with which to find Documents. A date parameter may be provided once with or without prefix
          and time component to imply a date range. Alternately it may be provided twice with 'le', 'lt', 'ge', or 'gt' prefixes
          and time component to search for procedures within a specific range. The date and prefix pairs must create a closed
          range. Must be set with patient or subject.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-diagnosticreport-date
        x-fhir-search-type: date
      - name: _lastUpdated
        in: query
        required: false
        schema:
          type: string
        description: A date or date range used to search for Documents of diagnostic report which were last updated in that
          period. The '_lastUpdated' parameter may be provided once without a prefix or time component to imply a date range
          or once without a prefix and with a time component to search for Documents of diagnostic report at a specific time.
          Alternately it may be provided twice with 'le', 'lt', 'ge', or 'gt' prefixes to search for Documents of diagnostic
          report within a specific range. The date and prefix pairs must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-lastUpdated
        x-fhir-search-type: date
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      responses:
        '200':
          description: A FHIR searchset Bundle of DiagnosticReport resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id007
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab
    post:
      operationId: createDiagnosticReport
      summary: Create DiagnosticReport
      description: FHIR R4 `create` interaction for DiagnosticReport.
      tags:
      - DiagnosticReport
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: DiagnosticReport created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id007
  /DiagnosticReport/{id}:
    get:
      operationId: readDiagnosticReport
      summary: Read DiagnosticReport
      description: FHIR R4 `read` interaction for DiagnosticReport.
      tags:
      - DiagnosticReport
      responses:
        '200':
          description: The requested DiagnosticReport resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id007
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the DiagnosticReport resource.
      schema:
        type: string
  /DocumentReference:
    get:
      operationId: searchDocumentReference
      summary: Search DocumentReference
      description: FHIR R4 `search-type` interaction for DocumentReference. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - DocumentReference
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of DocumentReference ids. It is a required field if the patient field
          is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-id
        x-fhir-search-type: token
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: The patient the document is about. It is a required field if the subject field is not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-patient
        x-fhir-search-type: reference
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: The Encounter in which the document was created.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/clinical-encounter
        x-fhir-search-type: reference
      - name: period
        in: query
        required: false
        schema:
          type: string
        description: A date range with which to find Documents. If used, the 'period' parameter must be provided twice. Once
          with a 'ge' prefix representing the earliest date, and once with a 'lt' prefix representing the latest date. The
          period prefix pair must create a closed range and cannot be equal to each other.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-period
        x-fhir-search-type: date
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: The kind of document (LOINC if possible).
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-type
        x-fhir-search-type: token
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: The categorization of document.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-category
        x-fhir-search-type: token
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: It must be provided once with a prefix to imply a date range or without a prefix to search for document(s)
          at a specific date. Alternately it may be provided twice with `le`, `lt`, `ge`, or `gt` prefixes to search for document(s)
          within specific range. The date and prefix pairs must create a closed range. For a single 'date' occurrence, `time`
          component is optional but for two `date` occurrences, must include `time` component.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-date
        x-fhir-search-type: date
      - name: _lastUpdated
        in: query
        required: false
        schema:
          type: string
        description: A date or date range used to search for Documents which were last updated in that period. The '_lastUpdated'
          parameter may be provided once without a prefix or time component to imply a date range or once without a prefix
          and with a time component to search for Documents at a specific time. Alternately it may be provided twice with
          'le', 'lt', 'ge', or 'gt' prefixes to search for Documents within a specific range. The date and prefix pairs must
          create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-lastUpdated
        x-fhir-search-type: date
      responses:
        '200':
          description: A FHIR searchset Bundle of DocumentReference resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id008
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
      x-fhir-update-create: false
    post:
      operationId: createDocumentReference
      summary: Create DocumentReference
      description: FHIR R4 `create` interaction for DocumentReference.
      tags:
      - DocumentReference
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: DocumentReference created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id008
      x-fhir-update-create: false
  /DocumentReference/{id}:
    get:
      operationId: readDocumentReference
      summary: Read DocumentReference
      description: FHIR R4 `read` interaction for DocumentReference.
      tags:
      - DocumentReference
      responses:
        '200':
          description: The requested DocumentReference resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id008
      x-fhir-update-create: false
    put:
      operationId: updateDocumentReference
      summary: Update DocumentReference
      description: FHIR R4 `update` interaction for DocumentReference. Supply `If-Match` with the current version to avoid
        a 409 Conflict on a stale write.
      tags:
      - DocumentReference
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date update with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: DocumentReference updated.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id008
      x-fhir-update-create: false
    parameters:
    - name: id
      in: path
      required: true
      description: Logical id of the DocumentReference resource.
      schema:
        type: string
  /DocumentReference/$USCoreFetchDocumentReferences:
    get:
      operationId: opDocumentReferenceUscorefetchdocumentreferences
      summary: $USCoreFetchDocumentReferences on DocumentReference
      description: 'US Core Fetch DocumentReferences OperationDefinition: http://hl7.org/fhir/us/core/OperationDefinition/docref'
      tags:
      - DocumentReference
      x-fhir-operation-definition: http://hl7.org/fhir/us/core/OperationDefinition/docref
      responses:
        '200':
          description: Operation result.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
  /Encounter:
    get:
      operationId: searchEncounter
      summary: Search Encounter
      description: FHIR R4 `search-type` interaction for Encounter. Returns a searchset Bundle. Follow `Bundle.link[relation=next]`
        for pagination rather than constructing page URLs.
      tags:
      - Encounter
      parameters:
      - name: _id
        in: query
        required: false
        schema:
          type: string
        description: A single or comma separated list of Encounter ids. It is a required field if the account or identifier
          or -pageContext or patient or subject fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-encounter-id
        x-fhir-search-type: token
      - name: _count
        in: query
        required: false
        schema:
          type: number
        description: The maximum number of results to return in a page. Not honored when '_id' is set.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-count
        x-fhir-search-type: number
      - name: patient
        in: query
        required: false
        schema:
          type: string
        description: The patient present at the encounter. It is a required field if the account or _id or identifier or -pageContext
          or subject fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-encounter-patient
        x-fhir-search-type: reference
      - name: subject
        in: query
        required: false
        schema:
          type: string
        description: The patient present at the encounter. It is a required field if the account or _id or identifier or -pageContext
          or patient fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Encounter-subject
        x-fhir-search-type: reference
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: The status of the encounter. Must be set with patient.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-encounter-status
        x-fhir-search-type: token
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: A date parameter may be provided once with a prefix and time component to imply a date range. Alternately
          it may be provided twice with 'le', 'lt', 'ge', or 'gt' prefixes and time component to search for encounters within
          a specific range. The date and prefix pairs must create a closed range. Must be set with patient or subject.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-encounter-date
        x-fhir-search-type: date
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: An encounter's identifier. It is a required field if the account or _id or -pageContext or patient or
          subject fields are not given.
        x-fhir-search-parameter: http://hl7.org/fhir/us/core/SearchParameter/us-core-encounter-identifier
        x-fhir-search-type: token
      - name: account
        in: query
        required: false
        schema:
          type: string
        description: The account associated with the encounters. This parameter is required if patient, subject, _id, or identifier
          is not used.
        x-fhir-search-type: reference
      - name: _lastUpdated
        in: query
        required: false
        schema:
          type: string
        description: A date or date range used to search for Encounter records which were last updated in that period. The
          '_lastUpdated' parameter may be provided once without a prefix or time component to imply a date range or once without
          a prefix and with a time component to search for Encounter records at a specific time. Alternately it may be provided
          twice with 'le', 'lt', 'ge', or 'gt' prefixes to search for Encounter records within a specific range. The date
          and prefix pairs must create a closed range.
        x-fhir-search-parameter: http://hl7.org/fhir/R4/SearchParameter/Resource-lastUpdated
        x-fhir-search-type: date
      responses:
        '200':
          description: A FHIR searchset Bundle of Encounter resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: &id009
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter
    post:
      operationId: createEncounter
      summary: Create Encounter
      description: FHIR R4 `create` interaction for Encounter.
      tags:
      - Encounter
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Encounter created. The `Location` header carries the new resource URL.
          headers:
            Location:
              description: URL of the created resource.
              schema:
                type: string
            ETag:
              description: Version identifier of the created resource.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id009
  /Encounter/{id}:
    get:
      operationId: readEncounter
      summary: Read Encounter
      description: FHIR R4 `read` interaction for Encounter.
      tags:
      - Encounter
      responses:
        '200':
          description: The requested Encounter resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Resource'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
      x-fhir-supported-profile: *id009
    patch:
      operationId: patchEncounter
      summary: Patch Encounter
      description: FHIR R4 `patch` interaction for Encounter. The server advertises the JSON Patch and FHIRPath patch formats
        in `CapabilityStatement.patchFormat`.
      tags:
      - Encounter
      parameters:
      - name: If-Match
        in: header
        required: false
        description: Version ETag the client last read; the server rejects an out-of-date patch with 409 Conflict.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: object
      responses:
        '200':
          description: Encounter patched.
        '409':
          $ref: '#/components/responses/Error409'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '406':
          $ref: '#/components/responses/Error406'
        '422':
          $ref: '#/components/responses/Error422'
        '500':
          $ref: '#/components/responses/Error500'
[...]
