openapi: 3.2.0
info:
  title: Oracle Health Millennium Platform FHIR R4 Bulk Data Access…
  version: '1.0'
  summary: HL7 FHIR Bulk Data Access (Flat FHIR) export for Oracle Health Millennium Platform.
  description: Asynchronous bulk export of Millennium EHR data as newline-delimited FHIR (NDJSON), following the HL7 FHIR Bulk Data Access (Flat FHIR) implementation guide.
  contact:
    name: Oracle Health Developer Program
    url: https://www.oracle.com/health/developer/
  x-derived-from:
    docs: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfbda/rest-endpoints.html
    fetched: '2026-08-14'
    note: Paths and methods are verbatim from the provider's REST Endpoints page. Request/response bodies, headers and status codes are not published on that page and are therefore NOT modelled here beyond what the Bulk Data Access IG mandates and the page states; they are left open rather than guessed.
servers:
- url: https://fhir-ehr.cerner.com/r4/{tenant}
  description: Production FHIR service root.
  variables:
    tenant:
      default: ec2458f2-1e24-41c8-b71b-0e701af7583d
      description: Millennium tenant id. The default is the Oracle Health public sandbox tenant.
- url: https://fhir-ehr-code.cerner.com/r4/{tenant}
  description: Secure sandbox FHIR service root.
  variables:
    tenant:
      default: ec2458f2-1e24-41c8-b71b-0e701af7583d
      description: Millennium tenant id.
security:
- smartOnFhir: []
tags:
- name: Files
  description: Retrieve the download URLs for completed export files.
paths:
  /bulk-export/files/{File_ID}:
    parameters:
    - name: File_ID
      in: path
      required: true
      description: Identifier of an output file listed in the completed job manifest.
      schema:
        type: string
    get:
      operationId: getBulkExportFileUrls
      summary: Get file download URLs
      description: Returns the download URL(s) for one NDJSON output file of a completed export.
      tags:
      - Files
      responses:
        '200':
          description: Download URL(s) for the requested file.
        '404':
          $ref: '#/components/responses/OperationOutcome'
components:
  schemas:
    OperationOutcome:
      type: object
      description: FHIR R4 OperationOutcome — the error envelope for the Millennium platform.
      properties:
        resourceType:
          const: OperationOutcome
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
              code:
                type: string
              diagnostics:
                type: string
      required:
      - resourceType
      - issue
      additionalProperties: true
  responses:
    OperationOutcome:
      description: FHIR OperationOutcome describing the failure.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0, client-credentials flow with `system/` scopes. Endpoints are tenant-scoped and discovered from /.well-known/smart-configuration at the tenant service root. See scopes/cerner-scopes.yml for the 303 scopes the sandbox tenant advertises.
      flows:
        clientCredentials:
          tokenUrl: https://authorization.cerner.com/tenants/{tenant}/hosts/fhir-ehr-code.cerner.com/protocols/oauth2/profiles/smart-v1/token
          scopes:
            system/Patient.read: System-level read access to Patient.
            system/Group.read: System-level read access to Group.
externalDocs:
  description: Oracle Health FHIR R4 Bulk Data Access APIs
  url: https://docs.oracle.com/en/industries/health/millennium-platform-apis/mfbda/index.html
